<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<%- include("../partials/header") %> 
<body>
    <h1>Buscar Cliente</h1>
    <form method="GET">
        <label for="busqueda">Buscar poliza:
            <input type="text" id="busqueda" name="busqueda">
        </label>
        <button type="submit">Buscar</button>
    </form>
    
      <h1>Resultados de la Búsqueda</h1>
      <% if (polizas.length > 0) { %>
        <ul>
            <% polizas.forEach(poliza => { %>
                <li>
                    <p><%= poliza.cliente.nombre %></p>
                    <p><%= poliza.n_poliza %></p>
                    <p><%= poliza.f_ini_vigencia %></p>
                    <p><%= poliza.f_fin_vigencia %></p>
                    <p><%= poliza.empresa %></p>
                    <p><%= poliza.precio %></p>
                    <p><%= poliza.cobertura %></p>
                    <p><%= poliza.marca %></p>
                    <p><%= poliza.modelo %></p>
                    <p><%= poliza.patente %></p>
                    <a href="/polizas/detalle/<%= poliza.id %>">Detalle</a>
                    <a href="/polizas/editar/<%= poliza.id %>">Editar</a>
                </li>        
            <% }) %>
        </ul>
      <% } %>
</body>
</html>