<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Detalle de la Póliza</title>
</head>
<body>
  <%- include("../partials/header") %>
  <h1>Detalle de la Póliza</h1>
  <section>
    <h2>Póliza</h2>
    <p>Número de Póliza: <%= poliza.n_poliza %></p>
    <p>Fecha de Emisión: <%= poliza.f_emision %></p>
    <p>Inicio Vigencia: <%= poliza.f_ini_vigencia %></p>
    <p>Fin Vigencia: <%= poliza.f_fin_vigencia %></p>
    <p>Suma Asegurada: <%= poliza.suma %></p>
    <p>Empresa: <%= poliza.empresa %></p>
    <p>Cobertura: <%= poliza.cobertura %></p>
    <p>Cuotas: <%= poliza.cuotas %></p>
    <p>Cuotas Pagas: <%= poliza.cuotasPagas %></p>
    <p>Marca: <%= poliza.marca %></p>
    <p>Modelo: <%= poliza.modelo %></p>
    <p>Año: <%= poliza.anio %></p>
    <p>Patente: <%= poliza.patente %></p>
    <p>N Chasis: <%= poliza.n_chasis %></p>
    <p>N Motor: <%= poliza.n_motor %></p>
    <p>Combustible: <%= poliza.combustible %></p>
  </section>
  <section>
    <h2>Cliente Asociado</h2>
    <p>Nombre: <%= cliente.nombre %></p>
    <p>CUIT: <%= cliente.cuit %></p>
    <p>Teléfono: <%= cliente.telefono %></p>
  </section>

  <!-- Botón para eliminar la póliza -->
  <form action="/polizas/eliminar/<%= poliza.id %>" method="get">
    <button type="submit" style="background-color: red; color: white;">Eliminar Póliza</button>
  </form>
</body>
</html>
