<!DOCTYPE html>
<html lang="es">
  <%- include("../partials/head") %>
<body>
  <%- include("../partials/header") %>
  <main>
    <header>
      <h1>Detalle de la Póliza #<%= poliza.n_poliza %></h1>
      <nav>
        <a href="/polizas">Volver al listado de polizas</a>
        <% if (poliza.pagos.length == 0) { %>
          <a href="/polizas/editar/<%= poliza.id %>">Editar</a>
        <% } %>
        <% if ( poliza.pagos.filter(pago => !pago.desconocido).length < poliza.cuotas) { %>
          <a href="/pagos/pagar/<%= poliza.id %>">Nuevo Pago</a>
        <% } %>
        <% if (!["Empleado"].includes(user.rol)) { %>
          <a href="/polizas/confirmar/<%= poliza.id %>">Eliminar Poliza</a>
        <% } %>
      </nav>
    </header>
    <ul>
      <li>
        <h2>Cliente</h2>
        <dl>
          <dt>Nombre:</dt>
          <dd><%= cliente.nombre %></dd>
          <dt>CUIT:</dt>
          <dd><%= cliente.cuit %></dd>
          <dt>Telefono:</dt>
          <dd><%= cliente.telefono %></dd>
        </dl>
        <nav>
          <a href="/clientes/detalle/<%= cliente.id %>">Ver Cliente</a>
        </nav>
      </li>

      <li>
        <h2>Poliza</h2>
        <dl>
          <dt>Número de Poliza:</dt>
          <dd><%= poliza.n_poliza %></dd>
          <dt>Fecha de Emisión:</dt>
          <dd><%= poliza.f_emision %></dd>
          <dt>Inicio Vigencia:</dt>
          <dd><%= poliza.f_ini_vigencia %></dd>
          <dt>Fin Vigencia:</dt>
          <dd><%= poliza.f_fin_vigencia %></dd>
          <dt>Premio:</dt>
          <dd><%= new Intl.NumberFormat("es-AR",{ style: 'currency', currency: 'ARS' }).format(poliza.precio) %></dd>
          <dt>Empresa:</dt>
          <dd><%= poliza.empresa.nombre %></dd>
          <dt>Cobertura:</dt>
          <dd><%= poliza.cobertura.nombre %>: <%= poliza.cobertura.descripcion %></dd>
          <dt>Cuotas:</dt>
          <dd><%= poliza.cuotas %></dd>
          <dt>Cuotas Pagas:</dt>
          <dd><%= poliza.pagos.filter(pago => !pago.desconocido).length %></dd>
        </dl>
      </li>
      <li>
        <h2>Vehiculo</h2>
        <dl>
          <dt>Marca:</dt>
          <dd><%= poliza.marca.marca %></dd>
          <dt>Modelo:</dt>
          <dd><%= poliza.modelo %></dd>
          <dt>Año:</dt>
          <dd><%= poliza.anio %></dd>
          <dt>Patente:</dt>
          <dd><%= poliza.patente %></dd>
          <dt>Uso:</dt>
          <dd><%= poliza.usos %></dd>
          <dt>N Chasis:</dt>
          <dd><%= poliza.n_chasis %></dd>
          <dt>N Motor:</dt>
          <dd><%= poliza.n_motor %></dd>
          <dt>Combustible:</dt>
          <dd><%= poliza.combustible %></dd>
        </dl>
      </li>
      <li>
        <h2>Pagos</h2>
        <% if (poliza.pagos.filter(pago => !pago.desconocido).length == 0) { %>
          <p>No hay pagos :D</p>
        <% } else { %>
          <ul>
            <% poliza.pagos.filter(pago => !pago.desconocido).forEach(pago => { %>
              <li>
                <dl>
                  <dt>Fecha:</dt>
                  <dd><%= pago.fecha %> a las <%= pago.hora %></dd>
                </dl>
                <dl>
                  <dt>Importe:</dt>
                  <dd><%= new Intl.NumberFormat("es-AR",{ style: 'currency', currency: 'ARS' }).format(pago.valor) %></dd>
                </dl>
                <dl>
                  <dt>Observaciones:</dt>
                  <dd><%= pago.observaciones %></dd>
                </dl>
                <dl>
                  <dt>Forma de Pago:</dt>
                  <dd><%= pago.forma_pago %></dd>
                </dl>
                  <a href="/pagos/detalle/<%= pago.id %>">Detalle</a>
              </li>
            <% }) %>
          </ul>
        <% } %>
      </li>
    </ul> 
  </main>
</body>
</html>
