<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <main>
        <header>
            <h1>Poliza nueva</h1>
            <nav>
                <a href="/clientes/detalle/<%= cliente.id %>">Volver al perfil del cliente</a>
                <a href="/polizas/">Volver al listado de polizas</a>
            </nav>
        </header>
        <form action="/polizas/guardar" method="POST" id="create-poliza-form">
            <fieldset>
                <label for="n_poliza" class="label" id="label_n_poliza">
                    N Poliza
                </label>
                <input type="number" name="n_poliza" id="n_poliza" minlength="3" required>
            </fieldset>
            <fieldset>
                <label for="f_ini_vigencia" class="label" id="label_f_ini_vigencia">
                    Inicio Vigencia
                </label>
                <input type="date" name="f_ini_vigencia" id="f_ini_vigencia" min="<%= new Date().toISOString().split('T')[0] %>" required>
            </fieldset>
            <fieldset>
                <select name="cuotas" id="cuotas" required> 
                    <option value="0" disabled selected> Cantidad de Cuotas</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
                </select>
            </fieldset>
            <fieldset>
                <select name="empresa" id="empresa" required>
                    <option value="0" disabled selected>Empresa</option>
                    <% empresas.forEach(empresa=> { %>
                        <option value="<%= empresa.id %>">
                            <%= empresa.nombre %>
                        </option>
                        <% }) %>
                </select>
            </fieldset>
            <fieldset>
                <label for="precio">
                    Precio por cuota del cliente
                </label>
                <input type="number" name="precio" id="Precio" min="1000" required>
            </fieldset>
            <fieldset>
                <select name="cobertura" id="cobertura" required>
                    <option value="0" disabled selected> Cobertura</option>
                    <% empresas.forEach(empresa=> { %>
                        <optgroup label="<%= empresa.nombre %>">
                            <% coberturas.forEach(cobertura=> { %>
                                <% if (empresa.coberturas.includes(cobertura.id)) { %>
                                    <option value="<%= cobertura.id %>">
                                        <%= cobertura.nombre %>
                                    </option>
                                <% } }) %>
                        </optgroup>
                    <% }) %>
                </select>
            </fieldset>
            <fieldset>
                <select name="marca" id="marca" required>
                    <option value="0" disabled selected> Marca del Vehiculo</option>
                    <% autos.forEach(auto=> { %>
                        <option value="<%= auto.id %>">
                            <%= auto.marca %>
                        </option>
                        <% }) %>
                </select>
            </fieldset>
            <fieldset>
                <label for="modelo">
                    Modelo del Vehiculo
                </label>
                <input type="text" name="modelo" id="modelo" required>
            </fieldset>
            <fieldset>
                <label for="patente">
                    Patente del Vehiculo
                </label>
                <input type="text" name="patente" id="patente" required>
            </fieldset>
            <fieldset>
                <label for="anio">
                    Año del Vehiculo
                </label>
                <input type="number" name="anio" id="anio" required>
            </fieldset>
            <fieldset>
                <label for="suma" class="label" id="label_suma">
                    Suma Asegurada
                </label>
                <input type="number" name="suma" id="suma" required>
            </fieldset>
            <fieldset>
                <label for="n_chasis">
                    N Chasis
                </label>
                <input type="text" name="n_chasis" id="n_chasis" required>
            </fieldset>
            <fieldset>
                <label for="n_motor">
                    N motor
                </label>
                <input type="text" name="n_motor" id="n_motor" required>
            </fieldset>
            <fieldset>
                <select name="combustible" id="combustible" required>
                    <option value="0" disabled selected>Combustible del Vehiculo</option>
                    <option value="nafta">Nafta</option>
                    <option value="diesel">Diesel</option>
                    <option value="GNC">GNC</option>
                </select>
            </fieldset>
            <input type="hidden" id="id_cliente" name="clientId" value="<%= cliente.id %>">

            <section class="btns">
                <button type="reset">Cancelar</button>
                <button type="submit">Emitir</button>
            </section>
        </form>
    </main>

    <script>
        document.querySelector("#empresa").addEventListener('change', (e) => {
            document.querySelectorAll('#cobertura optgroup').forEach((group) => group.disabled = true)
            const { value } = e.target
            const option = document.querySelector(`#empresa option[value='${value}']`)
            const label = String(option.innerText).trim()
            const group = document.querySelector(`#cobertura optgroup[label='${label}']`)
            group.disabled = false
        })
    </script>
</body>

</html>