<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lista de Pólizas</title>
</head>
<body>
  <%- include("../partials/header") %>
  <a href="/polizas/buscarCliente">Nueva</a>
  <h1>Lista de Pólizas</h1>

  <table border="1">
    <thead>
      <tr>
        <th>Número de Póliza</th>
        <th>Fecha de Emisión</th>
        <th>Inicio Vigencia</th>
        <th>Fin Vigencia</th>
        <th>Cobertura</th>
        <th>Cliente</th>
        <th>Patente</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <% if (polizas.length === 0) { %>
        <tr>
          <td colspan="7">No se encontraron pólizas.</td>
        </tr>
      <% } else { %>
        <% polizas.forEach(poliza => { %>
          <tr>
            <td><%= poliza.n_poliza %></td>
            <td><%= poliza.f_emision %></td>
            <td><%= poliza.f_ini_vigencia %></td>
            <td><%= poliza.f_fin_vigencia %></td>
            <td><%= poliza.cobertura %></td>
            <td><%= poliza.cliente ? poliza.cliente.nombre : "Sin Cliente" %></td>
            <td><%= poliza.patente %></td>
            <td>
              <a href="/polizas/detalle/<%= poliza.id %>">Ver Detalle</a>
              <a href="/polizas/editar/<%= poliza.id %>">Editar</a>
            </td>
          </tr>
        <% }); %>
      <% } %>
    </tbody>
  </table>
</body>
</html>
