<!DOCTYPE html>
<html lang="es">
  <%- include("../partials/head") %>

<body>
  <%- include("../partials/header") %>
    <main>
      <header>
        <h1>Lista de Pólizas</h1>
        <form action="/polizas/" method="get">
          <label for="busqueda">
            Buscar Poliza:
          </label>
          <input type="text" id="busqueda" name="busqueda" minlength="3" required
            placeholder="Ingresar nombre o cuit del cliente, numero de poliza o patente del vehiculo">
          <button type="submit">Buscar</button>
          <a href="/polizas">Cancelar</a>
        </form>
      </header>
      <% if (polizas.length==0) { %>
        <p>No se encontraron pólizas.</p>
        <% } else { %>
          <ul>
            <% polizas.filter(poliza => !poliza.inhabilitado).forEach(poliza=> { %>
              <li>
                <dl>
                  <dt>N Póliza:</dt>
                  <dd>
                    <%= poliza.n_poliza %>
                  </dd>
                  <dt>Desde:</dt>
                  <dd>
                    <%= poliza.f_ini_vigencia %>
                  </dd>
                  <dt>Hasta:</dt>
                  <dd>
                    <%= poliza.f_fin_vigencia %>
                  </dd>
                  <dt>Cobertura:</dt>
                  <dd>
                    <%= poliza.cobertura %>
                  </dd>
                  <dt>Patente:</dt>
                  <dd>
                    <%= poliza.patente %>
                  </dd>
                </dl>
                <nav>
                  <a href="/polizas/detalle/<%= poliza.id %>">Detalle</a>
                </nav>
              </li>
              <% }); %>
          </ul>
          <% } %>
    </main>
</body>

</html>