<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>P칩lizas</title>
</head>
<body>
  <%- include("../partials/header") %> 
  <a href="/polizas/nueva">Nueva</a>
  <h1>P칩lizas</h1>
  <% if (polizas.length > 0) { %>  <ul>  <% polizas.forEach(poliza => { %>
        <li>
          <p>Marca: <%= poliza.marca %></p> </li>
          <p>Modelo: <%= poliza.modelo %></p> </li>
          <p>A침o: <%= poliza.anio %></p> </li>
          <p>Patente: <%= poliza.patente %></p> 
        </li>
      <% }) %>
    </ul>
  <% } else { %>
    <p>No hay p칩lizas disponibles.</p>
  <% } %>
</body>
</html>