<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lista de Pólizas</title>
</head>
<body>
  <%- include("../partials/header") %> 
  <a href="/polizas/buscarCliente">Nueva</a>
  <h1>Pólizas</h1>
  <% if (polizas.length > 0) { %>
    <ul>
      <% polizas.forEach(poliza => { %>
        <li>
          <a href="/polizas/detalle/<%= poliza.id %>">
            <p>Número de Póliza: <%= poliza.n_poliza %></p>
            <p>Marca: <%= poliza.marca %></p>
            <p>Modelo: <%= poliza.modelo %></p>
            <p>Año: <%= poliza.anio %></p>
            <p>Cliente: <%= poliza.cliente ? poliza.cliente.nombre : 'Sin cliente asociado' %></p>
          </a>
        </li>
      <% }) %>
    </ul>
  <% } else { %>
    <p>No hay pólizas disponibles.</p>
  <% } %>
</body>
</html>
