<!DOCTYPE html>
<html lang="es">
    <%- include("../partials/head") %>
<body>
        <%- include("../partials/header") %>
    <main>
        <header>
            <h1>Egresos</h1>    
            <a href="/caja">Regresar</a>
        </header>
        <form action="/caja/guardar" method="POST">
            <input type="hidden" name="tipo" value="egreso">
            <input type="hidden" name="id_usuario" value="<%= id %>">
            <fieldset>
                <label for="monto">Monto</label>
                <input type="number" name="monto" id="monto" required min="100">
            </fieldset>
            <fieldset>
                <label for="motivo">Motivo</label>
                <input type="text" name="motivo" id="motivo" list="motivos" minlength="3" required>
                <datalist id="motivos">
                    <% motivos.forEach(motivo => { %>
                        <option value="<%= motivo %>"><%= motivo %></option>
                    <% }) %>
                </datalist>
            </fieldset>
            <fieldset>
                <label for="descripcion">Descripcion</label>
                <textarea name="descripcion" id="descripcion" cols="30"></textarea>
            </fieldset>
        <fieldset>
                <button type="reset" class="cancelar">Cancelar</button>
                <button type="submit" class="egresar">Egresar</button>
        </fieldset>
        </form>
    </main>
</body>
</html>