<!DOCTYPE html>
<html lang="es">
    <%- include("../partials/head") %>
<body>
    <%- include("../partials/header") %>
    <main>
        <header>
            <h1>Resumenes Mensuales</h2>
        </header>
        <ul>
            <% resumenes.forEach(resumen => { %>
                <li>
                    <dl>
                        <dt>Fecha:</dt>
                        <dd><%= resumen.fecha %></dd>
                    </dl>
                    <dl>
                        <dt>Ingresos:</dt>
                        <dd><%=  new Intl.NumberFormat("es-AR",{ style: 'currency', currency: 'ARS' }).format(resumen.ingresos) %></dd>
                    </dl>
                    <dl>
                        <dt>Egresos:</dt>
                        <dd><%=  new Intl.NumberFormat("es-AR",{ style: 'currency', currency: 'ARS' }).format(resumen.egresos) %></dd>
                    </dl>
                    <dl>
                        <dt>Balance:</dt>
                        <dd><%=  new Intl.NumberFormat("es-AR",{ style: 'currency', currency: 'ARS' }).format(resumen.balance) %></dd>
                    </dl>
                </li>
            <% }) %>
        </ul>
    </main>
</body>
</html>