<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  <header>

    <h1>Nuevo pago</h1>
    <nav>
      <a href="/pagos">Regresar</a>
    </nav>
    <form action="/pagos/nuevo" method="get">
      <select name="parametro" id="parametro">
        <option value="0" <%= !parametro ? "selected" : '' %> disabled>Buscar por</option>
        <option value="n_poliza" <%= parametro === 'n_poliza' ? "selected" : '' %>>Número de Póliza</option>
        <option value="patente" <%= parametro === 'patente' ? "selected" : '' %>>Patente</option>
        <option value="cliente" <%= parametro === 'cliente' ? "selected" : '' %>>Cliente</option>
      </select>
      <input 
      type="text" 
      name="busqueda" 
      placeholder="Buscar por nombre, número de póliza o patente" 
      value="<%= typeof busqueda !== 'undefined' ? busqueda : '' %>"
      >
      <button type="submit">Buscar</button>
    </form>
  </header>
    
      <% if (busqueda) { %>
        <p>Resultados de la búsqueda para: "<strong><%= busqueda %></strong>"</p>
      <% } %>
    
      <% if (polizas.length === 0) { %>
        <p>No se encontraron pólizas.</p>
      <% } else { %>
          <ul>
              <% polizas.forEach(poliza => { %>
                <li>
                  <dl>
                    <dt>Número de Póliza</dt>
                    <dd><%= poliza.n_poliza %></dd>
                    <dt>Fecha de Emisión</dt>
                    <dd><%= poliza.f_emision %></dd>
                    <dt>Inicio Vigencia</dt>
                    <dd><%= poliza.f_ini_vigencia %></dd>
                    <dt>Fin Vigencia</dt>
                    <dd><%= poliza.f_fin_vigencia %></dd>
                    <dt>A tiempo</dt>
                    <dd><%= new Date(poliza.f_fin_vigencia).getTime() > new Date().getTime() ? "Si" : "No" %></dd>
                    <dt>Cobertura</dt>
                    <dd><%= poliza.cobertura %></dd>
                    <dt>Cliente</dt>
                    <dd><%= poliza.cliente ? poliza.cliente.nombre : "Sin Cliente" %></dd>
                    <dt>Patente</dt>
                    <dd><%= poliza.patente %></dd>
                  </dl>
                  <nav>
                    <a href="/pagos/pagar/<%= poliza.id %>">Pagar</a>
                  </nav>
                </li>
              <% }); %>
          </ul>
      <% } %>
    
      
</body>
</html>