<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
      <h1>Confirmar Pago</h1>
    
      <p>Estás a punto de pagar la póliza número <%= poliza.n_poliza %> a nombre de <%=cliente.nombre %>.</p>
    
      <table>
        <tr>
          <th>Detalle</th>
          <th>Valor</th>
        </tr>
        <tr>
          <td>Número de Póliza</td>
          <td><%= poliza.n_poliza %></td>
        </tr>
        <tr>
          <td>Cliente</td>
          <td><%= cliente.nombre %></td>
        </tr>
        <tr>
          <td>Fecha de Emision</td>
          <td><%= poliza.f_emision %></td>
        </tr>
        <tr>
          <td>Fecha de Inicio de Vigencia</td>
          <td><%= poliza.f_ini_vigencia %></td>
        </tr>
        <tr>
          <td>Fecha de Fin de Vigencia</td>
          <td><%= poliza.f_fin_vigencia %></td>
        </tr>
        <tr>
          <td>Premio</td>
          <td><%= poliza.precio %></td>
        </tr>
        <tr>
          <td>Cobertura</td>
          <td><%= poliza.cobertura %></td>
        </tr>
        <tr>
          <td>Marca</td>
          <td><%= poliza.marca %></td>
        </tr>
        <tr>
          <td>Modelo</td>
          <td><%= poliza.modelo %></td>
        </tr>
        <tr>
          <td>Año</td>
          <td><%= poliza.anio %></td>
        </tr>
        <tr>
          <td>Año</td>
          <td><%= poliza.patente %></td>
        </tr>
      </table>
    
      <form method="POST" action="/pagos/pagarPoliza">
        <input type="hidden" name="polizaId" value="<%= poliza.id %>">
        <button type="submit">Pagar</button>
      </form>
</body>
</html>