<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head") %>
<body>
    <%- include("../partials/header") %>
    <main>
        <header>
            <h1>Detalle de Pago</h1>
            <% if (!["Empleado"].includes(user.rol)) { %>
                <form action="/pagos/eliminar" method="post">
                    <input type="hidden" name="pagoId" value="<%= pago.id %>">
                    <input type="hidden" name="polizaId" value="<%= pago.poliza.id %>">

                    <button type="submit">Eliminar</button>
                </form>
            <% } %>
            <nav>
                <a target="_blank" href="/pagos/recibo/<%= pago.id %>">Recibo</a>
            </nav>
        </header>
        <ul>
            <li>
                <p>Pago #<%= pago.id %></p>
                <dl>
                    <dt>Fecha</dt>
                    <dd><%= pago.fecha %> a las <%= pago.hora %></dd>
                    <dt>Premio</dt>
                    <dd>$<%= pago.valor %></dd>
                    <dt>Forma de Pago</dt>
                    <dd><%= pago.forma_pago %></dd>
                    <dt>Observaciones</dt>
                    <dd><%= pago.observaciones %></dd>
                </dl>
            </li>
            <li>
                <p>Poliza #<%= pago.poliza.n_poliza %></p>
                <dl>
                    <dt>Fecha de Emision</dt>
                    <dd><%= pago.poliza.f_emision %></dd>
                    <dt>Fecha de Inicio de Vigencia</dt>
                    <dd><%= pago.poliza.f_ini_vigencia %></dd>
                    <dt>Fecha de Fin de Vigencia</dt>
                    <dd><%= pago.poliza.f_fin_vigencia %></dd>
                    <dt>Premio</dt>
                    <dd><%= new Intl.NumberFormat("es-AR",{ style: 'currency', currency: 'ARS' }).format(pago.poliza.precio) %></dd>
                    <dt>Empresa</dt>
                    <dd><%= pago.poliza.empresa.nombre %></dd>
                    <dt>Cuotas</dt>
                    <dd><%= pago.poliza.cuotas %> cuotas</dd>
                    <dt>Pagos</dt>
                    <dd><%= pago.poliza.pagos.length %> de <%= pago.poliza.cuotas %> cuotas</dd>
                    <dt>Cobertura</dt>
                    <dd><%= pago.poliza.cobertura.nombre %>: <%= pago.poliza.cobertura.descripcion %></dd>
                </dl>
            </li>
            <li>
                <p>Vehiculo</p>
                <dl>
                    <dt>Marca</dt>
                    <dd><%= pago.poliza.marca.marca %></dd>
                    <dt>Modelo</dt>
                    <dd><%= pago.poliza.modelo %></dd>
                    <dt>Patente</dt>
                    <dd><%= pago.poliza.patente %></dd>
                    <dt>Año</dt>
                    <dd><%= pago.poliza.anio %></dd>
                </dl>
            </li>
            <li>
                <p>Cobrador</p>
                <dl>
                    <dt>Nombre</dt>
                    <dd><%= pago.cobrador.nombre %></dd>
                    <dt>Sucursal</dt>
                    <dd><%= pago.cobrador.sucursal.nombre %></dd>
                </dl>   
            </li>
            <li>
                <p>Cliente</p>
                <dl>
                    <dt>Nombre</dt>
                    <dd><%= pago.cliente.nombre %></dd>
                    <dt>CUIT</dt>
                    <dd><%= pago.cliente.cuit %></dd>
                    <dt>Telefono</dt>
                    <dd><%= pago.cliente.telefono %></dd>
                </dl>
            </li>
        </ul>
       
    </main>
</body>
</html>