<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head") %>

    <body>
        <%- include("../partials/header") %>
            <main>
                <header>
                    <h1>Editar Póliza #<%= poliza.n_poliza %>
                    </h1>
                    <nav>
                        <a href="/clientes/detalle/<%= cliente.id %>">Volver al perfil del cliente</a>
                        <a href="/otros-riesgos/">Volver al listado de polizas</a>
                    </nav>
                </header>
                <form action="/otros-riesgos/actualizar" method="POST" id="edit-poliza-form">
                    <fieldset>
                        <label for="n_poliza" class="label" id="label_n_poliza">N Poliza
                        </label>
                        <input type="number" name="n_poliza" id="n_poliza" value="<%= poliza.n_poliza %>">
                    </fieldset>
                    <fieldset>
                        <label for="f_ini_vigencia" class="label" id="label_f_ini_vigencia">
                            Inicio Vigencia
                        </label>
                        <input type="date" name="f_ini_vigencia" id="f_ini_vigencia"
                            value="<%= poliza.f_ini_vigencia %>">
                    </fieldset>
                    <fieldset>
                        <label for="periodo">Periodo de Vigencia</label>
                        <% if (poliza.periodo==0) { %>
                            <select name="periodo" id="periodo" required>
                                <option value="0" disabled selected> Periodo de Vigencia</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                                <option value="11">11</option>
                                <option value="12">12</option>
                            </select>
                            <% } else { %>
                                <select name="periodo" id="periodo">
                                    <option value="0" disabled> Cantidad de Cuotas</option>
                                    <option value="1" <%=poliza.periodo==1 ? 'selected' : '' %>>1</option>
                                    <option value="2" <%=poliza.periodo==2 ? 'selected' : '' %>>2</option>
                                    <option value="3" <%=poliza.periodo==3 ? 'selected' : '' %>>3</option>
                                    <option value="4" <%=poliza.periodo==4 ? 'selected' : '' %>>4</option>
                                    <option value="5" <%=poliza.periodo==5 ? 'selected' : '' %>>5</option>
                                    <option value="6" <%=poliza.periodo==6 ? 'selected' : '' %>>6</option>
                                    <option value="7" <%=poliza.periodo==7 ? 'selected' : '' %>>7</option>
                                    <option value="8" <%=poliza.periodo==8 ? 'selected' : '' %>>8</option>
                                    <option value="9" <%=poliza.periodo==9 ? 'selected' : '' %>>9</option>
                                    <option value="10" <%=poliza.periodo==10 ? 'selected' : '' %>>10</option>
                                    <option value="11" <%=poliza.periodo==11 ? 'selected' : '' %>>11</option>
                                    <option value="12" <%=poliza.periodo==12 ? 'selected' : '' %>>12</option>
                                </select>
                            <% } %>
                    </fieldset>
                    <fieldset>
                        <label for="cuotas">
                            Cuotas
                        </label>
                        <% if (pagos.length==0) { %>
                            <select name="cuotas" id="cuotas">
                                <option value="0" disabled> Cantidad de Cuotas</option>
                                <option value="1" <%=poliza.cuotas==1 ? 'selected' : '' %>>1</option>
                                <option value="2" <%=poliza.cuotas==2 ? 'selected' : '' %>>2</option>
                                <option value="3" <%=poliza.cuotas==3 ? 'selected' : '' %>>3</option>
                                <option value="4" <%=poliza.cuotas==4 ? 'selected' : '' %>>4</option>
                                <option value="5" <%=poliza.cuotas==5 ? 'selected' : '' %>>5</option>
                                <option value="6" <%=poliza.cuotas==6 ? 'selected' : '' %>>6</option>
                                <option value="7" <%=poliza.cuotas==7 ? 'selected' : '' %>>7</option>
                                <option value="8" <%=poliza.cuotas==8 ? 'selected' : '' %>>8</option>
                                <option value="9" <%=poliza.cuotas==9 ? 'selected' : '' %>>9</option>
                                <option value="10" <%=poliza.cuotas==10 ? 'selected' : '' %>>10</option>
                                <option value="11" <%=poliza.cuotas==11 ? 'selected' : '' %>>11</option>
                                <option value="12" <%=poliza.cuotas==12 ? 'selected' : '' %>>12</option>
                            </select>
                            <% } else { %>
                                <select name="cuotas" id="cuotas" disabled>
                                    <option value="0" disabled> Cantidad de Cuotas</option>
                                    <option value="1" <%=poliza.cuotas==1 ? 'selected' : '' %>>1</option>
                                    <option value="2" <%=poliza.cuotas==2 ? 'selected' : '' %>>2</option>
                                    <option value="3" <%=poliza.cuotas==3 ? 'selected' : '' %>>3</option>
                                    <option value="4" <%=poliza.cuotas==4 ? 'selected' : '' %>>4</option>
                                    <option value="5" <%=poliza.cuotas==5 ? 'selected' : '' %>>5</option>
                                    <option value="6" <%=poliza.cuotas==6 ? 'selected' : '' %>>6</option>
                                    <option value="7" <%=poliza.cuotas==7 ? 'selected' : '' %>>7</option>
                                    <option value="8" <%=poliza.cuotas==8 ? 'selected' : '' %>>8</option>
                                    <option value="9" <%=poliza.cuotas==9 ? 'selected' : '' %>>9</option>
                                    <option value="10" <%=poliza.cuotas==10 ? 'selected' : '' %>>10</option>
                                    <option value="11" <%=poliza.cuotas==11 ? 'selected' : '' %>>11</option>
                                    <option value="12" <%=poliza.cuotas==12 ? 'selected' : '' %>>12</option>
                                </select>
                                <% } %>
                    </fieldset>
                    <fieldset>
                        <label for="empresa">
                            Empresa
                        </label>
                        <select name="empresa" id="empresa">
                            <option value="0" disabled>Empresa</option>
                            <% empresas.forEach(empresa=> { %>
                                <% if (empresa.id==poliza.empresa) { %>
                                    <option value="<%= empresa.id %>" selected>
                                        <%= empresa.nombre %>
                                    </option>
                                    <% } else { %>
                                        <option value="<%= empresa.id %>">
                                            <%= empresa.nombre %>
                                        </option>
                                        <% } %>
                                            <% }) %>
                        </select>
                    </fieldset>

                    <fieldset>
                        <label for="tipo_poliza">Tipo Poliza</label>
                        <input type="text" name="tipo_poliza" id="tipo_poliza" value="<%= poliza.tipo_poliza %>">
                    </fieldset>
                    <fieldset>
                        <label for="precio">
                            Premio Total de la Poliza
                        </label>
                        <input type="number" name="precio" id="precio" value="<%= poliza.precio %>">
                    </fieldset>
                    <input type="hidden" id="id_cliente" name="clientId" value="<%= cliente.id %>">
                    <input type="hidden" id="id" name="id" value="<%= poliza.id %>">

                    <fieldset>
                        <button type="submit">Actualizar</button>
                    </fieldset>
                </form>
            </main>
            <script>
                document.querySelector("#empresa").addEventListener('change', (e) => {
                    const { value } = e.target
                    disabledGroup(value)
                })
                const disabledGroup = (value) => {
                    document.querySelectorAll('#cobertura optgroup').forEach((group) => group.disabled = true)
                    const option = document.querySelector(`#empresa option[value='${value}']`)
                    const label = String(option.innerText).trim()
                    const group = document.querySelector(`#cobertura optgroup[label='${label}']`)
                    group.disabled = false
                }
                disabledGroup('<%= poliza.empresa %>')
            </script>
    </body>

</html>