<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include("../partials/header") %>
    <a href="/clientes/nuevo">Nuevo</a>
    <h1>Clientes</h1>
    <ul>
        <% clientes.forEach(cliente => { %>
            <a href="/clientes/detalle/<%= cliente.id %>">
                <li>
                    <%= cliente.nombre %>
                    <%= cliente.telefono %>
                    <%= cliente.localidad %>
                </li>
            </a>
        <% }); %>
    </ul>
</body>
</html>