<!DOCTYPE html>
<html lang="es">
    <%- include("../partials/head") %>

<body>
    <%- include("../partials/header") %>
        <main class="main clientes">
            <header>
                <h1>Clientes</h1>
                <a href="/clientes/nuevo">Nuevo</a>
            </header>
            <form method="GET">
                <label for="busqueda">Buscar Cliente:
                    <input type="text" id="busqueda" name="busqueda" value="<%= busqueda ? busqueda : "" %>">
                </label>
                <button type="submit">Buscar</button>
                <a href="/clientes" class="cancelar">Cancelar</a>
            </form>
            <ul>
                <% clientes.forEach(cliente=> { %>
                    <li>
                        <dl>
                            <dt>Nombre:</dt>
                            <dd>
                                <%= cliente.nombre %>
                            </dd>
                            <dt>CUIT:</dt>
                            <dd>
                                <%= cliente.cuit %>
                            </dd>
                            <dt>Telefono:</dt>
                            <dd>
                                <%= cliente.telefono %>
                            </dd>
                        </dl>
                        <a href="/clientes/detalle/<%= cliente.id %>">
                            Detalle
                        </a>
                    </li>
                    <% }); %>
            </ul>
        </main>
</body>

</html>