<!DOCTYPE html>
<html lang="en">

<%- include("../partials/head") %>

<body>
    <%- include("../partials/header") %>
        <main id="main_detalle_cliente">
            <header>
                <h1>Detalles del Cliente</h1>
                <nav>
                    <% if (!["Empleado"].includes(user.rol)) { %>
                        <a href="/clientes/confirmar/<%= cliente.id %>" class="btn-eliminar">Eliminar Cliente</a>
                    <% } %>
                    <a href="/clientes/editar/<%= cliente.id %>">Editar</a>
                    <a href="/polizas/nuevo/<%= cliente.id %>">Nueva Poliza</a>
                    <a href="/clientes">Regresar</a>
                </nav>
            </header>
            <dl id="datos_cliente">
                <dt>Nombre:</dt>
                <dd>
                    <%= cliente.nombre %>
                </dd>
                <dt>CUIT:</dt>
                <dd>
                    <%= cliente.cuit %>
                </dd>
                <dt>Fecha de Nacimiento:</dt>
                <dd>
                    <%= cliente.fecha_n %>
                </dd>
                <dt>Telefono:</dt>
                <dd>
                    <%= cliente.telefono %>
                </dd>
                <dt>Provincia:</dt>
                <dd>
                    <%= cliente.provincia.provincia %>
                </dd>
                <dt>Localidad:</dt>
                <dd>
                    <%= cliente.localidad.ciudad %>
                </dd>
                <dt>Direccion:</dt>
                <dd>
                    <%= cliente.direccion %>
                </dd>
            </dl>
            <article id="polizas_asociadas">
                <h2>Polizas Asociadas</h2>
                <% if (polizas.length==0) { %>
                    <h2 id="msj">No tiene polizas asociadas</h2>
                    <% } else { %>
                        <ul>
                            <% polizas.forEach(poliza=> { %>
                                <li>
                                    <dl>
                                        <dt>Poliza:</dt>
                                        <dd>
                                            <%= poliza.n_poliza %>
                                        </dd>
                                        <dt>Desde:</dt>
                                        <dd>
                                            <%= poliza.f_ini_vigencia%>
                                        </dd>
                                        <dt>Hasta:</dt>
                                        <dd>
                                            <%= poliza.f_fin_vigencia %>
                                        </dd>
                                        <dt> Marca:</dt>
                                        <dd>
                                            <%= poliza.marca.marca %>
                                        </dd>
                                        <dt> Modelo:</dt>
                                        <dd>
                                            <%= poliza.modelo %>
                                        </dd>
                                        <dt> Patente:</dt>
                                        <dd>
                                            <%= poliza.patente %>
                                        </dd>
                                    </dl>
                                    <nav>
                                        <a href="/polizas/detalle/<%= poliza.id %> ">Detalle</a>
                                    </nav>
                                </li>

                                <% }) %>
                        </ul>
                        <% } %>
            </article>
        </main>
</body>

</html>