<!DOCTYPE html>
<html lang="es">

<%- include("../partials/head") %>

    <body>
        <%- include("../partials/header") %>
            <main id="main_editar_cliente">
                <header>
                    <h1>Editar Cliente</h1>
                    <a href="/clientes">Cancelar</a>
                </header>
                <form method="POST" action="/clientes/actualizar">
                    <input type="hidden" name="id" value="<%= cliente.id %>">
                    <fieldset>
                        <label for="nombre">Nombre:</label>
                        <input type="text" id="nombre" name="nombre" value="<%= cliente.nombre %>">
                    </fieldset>
                    <fieldset>
                        <label for="cuit">CUIT:</label>
                        <input type="text" id="cuit" name="cuit" value="<%= cliente.cuit %>">
                    </fieldset>
                    <fieldset>
                        <label for="fecha_n">Fecha de Nacimiento:</label>
                        <input type="date" id="fecha_n" name="fecha_n" value="<%= cliente.fecha_n %>">
                    </fieldset>
                    <fieldset>
                        <label for="telefono">Telefono:</label>
                        <input type="text" id="telefono" name="telefono" value="<%= cliente.telefono %>">
                    </fieldset>
                    <fieldset>
                        <select name="provincia" id="provincia">
                            <option value="0" disabled>Provincias</option>
                            <% provincias.forEach(provincia=> { %>
                                <% if (cliente.provincia==provincia.id) { %>

                                    <option value="<%= provincia.id %>" selected>
                                        <%= provincia.provincia %>
                                    </option>
                                    <% } else { %>

                                        <option value="<%= provincia.id %>">
                                            <%= provincia.provincia %>
                                        </option>
                                        <% } %>
                                            <% }) %>
                        </select>
                    </fieldset>
                    <fieldset>
                        <select name="localidad" id="localidad">
                            <option value="0" disabled> Localidad </option>
                            <% provincias.forEach((provincia)=> { %>
                                <% if (cliente.provincia==provincia.id) { %>
                                    <optgroup label="<%= provincia.provincia %>">
                                        <% ciudades.forEach((ciudad)=> { %>
                                            <% if (ciudad.idprovincia==provincia.id) { %>
                                                <% if (cliente.localidad==ciudad.id) { %>
                                                    <option value="<%= ciudad.id %>" selected>
                                                        <%= ciudad.ciudad %>
                                                    </option>
                                                    <% } else { %>
                                                        <option value="<%= ciudad.id %>">
                                                            <%= ciudad.ciudad %>
                                                        </option>

                                                        <% } %>
                                                            <% } }) %>
                                    </optgroup>
                                    <% } else { %>
                                        <optgroup label="<%= provincia.provincia %>" disabled>
                                            <% ciudades.forEach((ciudad)=> { %>
                                                <% if (ciudad.idprovincia==provincia.id) { %>
                                                    <% if (cliente.localidad==ciudad.id) { %>
                                                        <option value="<%= ciudad.id %>" selected>
                                                            <%= ciudad.ciudad %>
                                                        </option>
                                                        <% } else { %>
                                                            <option value="<%= ciudad.id %>">
                                                                <%= ciudad.ciudad %>
                                                            </option>

                                                            <% } %>
                                                                <% } }) %>
                                        </optgroup>
                                        <% } %>
                                            <% }) %>
                        </select>
                    </fieldset>
                    <fieldset>
                        <label for="direccion">Direccion:</label>
                        <input type="text" id="direccion" name="direccion" value="<%= cliente.direccion %>">
                    </fieldset>
                    <fieldset id="button">
                        <button type="submit">Editar</button>
                    </fieldset>
                </form>
            </main>
            <script>
                document.querySelector("#provincia").addEventListener('change', (e) => {
                    document.querySelectorAll('#localidad optgroup').forEach((group) => group.disabled = true)
                    const { value } = e.target
                    const option = document.querySelector(`#provincia option[value='${value}']`)
                    const label = String(option.innerText).trim()
                    const group = document.querySelector(`#localidad optgroup[label='${label}']`)
                    group.disabled = false
                })
            </script>
    </body>

</html>