<!DOCTYPE html>
<html lang="es">
<%- include("../partials/head") %>

    <body>
        <%- include("../partials/header") %>
            <main>
                <header>
                    <h1>Auxiliares</h1>
                    <a href="/auxiliares/nuevo">Nuevo</a>
                </header>


                <form action="" method="GET">
                    <fieldset>
                        <label for="buscar">Buscar</label>
                        <input type="text" name="buscar">
                    </fieldset>
                    <a href="/auxiliares" class="cancelar">Cancelar</a>
                    <button type="submit">Buscar</button>
                </form>


                <article>
                    <h2>Marcas Autos</h2>
                    <ul>
                        <% automarcas.forEach(marca=> { %>
                            <li>
                                <dl>
                                    <dt>Nombre:</dt>
                                    <dd><%= marca.marca %></dd>
                                </dl>
                                <nav>
                                    <a href="#">Editar</a>
                                    <form action="" method="POST">
                                        <button type="submit">Eliminar</button>
                                    </form>
                                </nav>
                            </li>
                            <% }) %>
                    </ul>
                </article>
                <article>
                    <h2>Provincias</h2>
                    <ul>
                        <% provincias.forEach(provincia => { %>
                            <h3><%= provincia.provincia %></h3>
                            <ul>
                                <% provincia.ciudades.forEach(ciudad => { %>
                                    <li>
                                        <dl>
                                            <dd><%= ciudad %></dd>
                                        </dl>
                                        <nav>
                                            <a href="#">Editar</a>
                                            <form action="" method="POST">
                                                <button type="submit">Eliminar</button>
                                            </form>
                                        </nav>
                                    </li>
                                <% }) %>
                            </ul>
                        <% }) %>
                    </ul>
                </article>
            </main>
    </body>

</html>