<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include("../partials/header") %>
    <h1>Usuarios</h1>
    <table>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Rol</th>
            </tr>
        </thead>
        <tbody>
            <% usuarios.forEach(usuario => { %>
                <tr>
                    <td><%= usuario.nombre %></td>
                    <td><%= usuario.descripcionPermiso %></td>
                    <td><a href="/usuarios/detalle/<%= usuario.id %>">Detalle</a></td>
                    <td><a href="/usuarios/editar/<%= usuario.id %>">Editar</a></td>
                </tr>
            <% }); %>
        </tbody>
    </table>
</body>
</html>