<!DOCTYPE html>
<html lang="es">
  <%- include("../partials/head") %>
<body>
    <%- include("../partials/header") %>
    <main>
        
        <header>
            <h1>Empresas</h1>
        </header>
        <article>
            <ul>
              <% empresas.forEach(empresa => { %>
                <li>
                  <details>
                    <summary><%= empresa.nombre %></summary>
                      <ul>
                        <% empresa.coberturas.forEach((cobertura_empresa, index) => { %>
                            <% coberturas.forEach(cobertura => { %>
                                <% if (cobertura_empresa == cobertura.id) { %>
                                    <li>
                                        <%= cobertura.nombre %>: <%= cobertura.descripcion %> 
                                    </li>
                                <% } %>
                            <% }) %>
                        <% }) %>
                      </ul>
                  </details>
                    <a href="/empresas/editar/<%= empresa.id %>">Editar</a>
                </li>
              <% }); %>
            </ul>
          </article>
    </main>
</body>
</html>