<!DOCTYPE html>
<html lang="es">
<%- include("../partials/head") %>

    <body>
        <%- include("../partials/header") %>
            <main>
                <header>
                    <h1>Nueva empresa</h1>
                </header>
                <form action="/empresas/guardar" method="POST">
                    <label for="nombre">Nombre
                        <input type="text" name="nombre" id="nombre" minlength="3" required>
                    </label>
                    <ul>
                        <% coberturas.forEach(cobertura=> { %>
                            <li>
                                <label for="<%= cobertura.id %>">
                                    <%= cobertura.nombre %>
                                        <input type="checkbox" name="coberturas" id="<%= cobertura.id %>"
                                            value="<%= cobertura.id %>">
                                </label>
                            </li>
                            <% }) %>
                    </ul>
                    <section id="buttons" class="buttons">
                        <button type="reset">Cancelar</button>
                        <button type="submit">Crear</button>
                    </section>
                </form>
            </main>
    </body>

</html>